@using MvcOnlineTicari.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>SATIŞ DETAYI</h2>
<br />


<table id="tbl1" class="table table-bordered">
    <thead>
        <tr style="background-color: #e67e22">
            <th>SATIŞ ID</th>
            <th>ÜRÜN</th>
            <th>MARKA</th>
            <th>CARİ</th>
            <th>PERSONEL</th>
            <th>FİYAT</th>
            <th>ADET</th>
            <th>TOPLAM</th>
            <th>TARİH</th>
            <th>YAZDIR</th>
        </tr>
    </thead>
    @foreach (var sts in Model)
    {
        <tr>
            <td>@sts.SatisID</td>
            <td>@sts.Urun.UrunAd</td>
            <td>@sts.Urun.Marka</td>
            <td>@sts.Cariler.CariAd @sts.Cariler.CariSoyad </td>
            <td>@sts.Personel.PersonelAd @sts.Personel.PersonelSoyad </td>
            <td>@sts.Fiyat ₺</td>
            <td>@sts.Adet</td>
            <td>@sts.ToplamTutar ₺</td>
            @*<td>@sts.Tarih</td>*@
            <td>@Convert.ToDateTime(sts.Tarih).ToString("dd/MM/yyyy")</td>  
            <td>
                <a class="btn btn-success" style="background-color:cadetblue" href="/Satis/SatisDetayPDF/@sts.SatisID">
                    <i class="fas fa-print"></i>
                    Yazdır
                </a>
            </td>
        </tr>
    }
</table>
<br />


    



@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>*@

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.js"></script>
<link href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.css" rel="stylesheet" />

<script>
    $('#tbl1').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });
</script>

