@model MvcOnlineTicari.Models.Siniflar.Urun
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<br />
<h2>YENİ ÜRÜN EKLEME SAYFASI</h2>

<form class="form-group" method="post">

    <div style="margin-top:20px">
        <label>ÜRÜN ADI</label>
        @Html.TextBoxFor(u => u.UrunAd, new { @class = "form-control" })
    </div>

    <div style="margin-top:10px">
        <label>MARKA ADI</label>
        @Html.TextBoxFor(u => u.Marka, new { @class = "form-control" })
    </div>

    <div style="margin-top:10px">
        <label>STOK</label>
        @Html.TextBoxFor(u => u.Stok, new { @class = "form-control" })
    </div>

    <div style="margin-top:10px">
        <label>ALIŞ FİYATI</label>
        @Html.TextBoxFor(u => u.AlisFiyat, new { @class = "form-control" })
    </div>

    <div style="margin-top:10px">
        <label>SATIŞ FİYATI</label>
        @Html.TextBoxFor(u => u.SatisFiyat, new { @class = "form-control" })
    </div>

    <div style="margin-top:20px">
        <label>KATEGORİSİ</label>
        @Html.DropDownListFor(u => u.Kategoriid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>

    <div style="margin-top:10px">
        <label>ÜRÜN GÖRSEL</label>
        @Html.TextBoxFor(u => u.UrunGorsel, new { @class = "form-control" })
    </div>

    @*<div style="margin-top:10px">
            <label>DURUM</label>
            @Html.TextBoxFor(u => u.Durum, new { @class = "form-control" })
        </div>*@
    <br />
    <div>
        <button class="btn btn-info" id="Btn1">Ürün Kaydet</button>
    </div>

    <script>
        $('#Btn1').click(function () {
            swal("Ürün Ekle!", "Başarılı bir şeklide eklendi.", "success")
        });
    </script>

</form>

